<div class="container text-center d-flex align-items-center">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Hola, configuremos tu perfil</h1>
      <h4>Queremos conocerte mejor</h4>
      <mat-card class="card-personalizada">
        <mat-card-title>Hola chavalez</mat-card-title>
        <mat-card-content>
          <div class="card-personalizada__circle">circle</div>
          <button mat-flat-button>Adjuntar fotografia
            <span>icon</span>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <h3>Tu información</h3>
      <h4>Completa la siguiente información para completar tu perfil</h4>
      <form [formGroup]="userForm" (ngSubmit)="enviarFormulario()" class="row">
        <mat-form-field appearance="outline">
          <mat-label for="nombre">Nombre</mat-label>
          <input matInput formControlName="nombre" id="nombre" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Pasatiempos</mat-label>
          <mat-select formControlName="pasatiempos" multiple>
            <mat-option *ngFor="let pasatiempo of pasatiempos" [value]="pasatiempo">
              {{ pasatiempo }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="fechaNacimiento">Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="dui">DUI</mat-label>
          <input matInput formControlName="dui" id="dui" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </form>
    </div>
  </div>
</div>
