@import 'src/app/core/theming/variables.scss';

.card-personalizada {
  border-radius: 50px;
  background-color: $primary-color;
  padding: 20px;
  height: 500px;
  width:350px;

  &__circle{
    width: 269px;
    height: 269px;
    background-color: #efefef;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 14px solid white;
  }

  &__button{
    height: 70px;
    width: 330px;
    border: 1px dashed $light-blue;
    border-radius: 20px;
  }
}

.form-container{
  width: 75%;
}
