@import 'src/app/core/theming/variables.scss';

.card-personalizada {
  border-radius: 10px;
  background-color: $primary-color;
  padding: 20px;
  height: 500px;
  width:392px;
  text-align: center;

  &__circle{
    width: 269px;
    height: 269px;
    background-color: #efefef;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 14px solid white;
  }
}
